body {
    background-color: darkblue;
    color: white;
}
#inform {
    background-color: white;
    color: red;
    border: 2px solid red;
    margin-bottom: 50px;
}
#form-wrapper {
    border: 3px solid black;
}
.form-control {
    margin-bottom: 20px;
}
#submit-btn {
    background-color: darkred;
    color: white;
}